body{
    background-color: black;
}

title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
.cal-form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4d4d4da2;
	display: flex;
	border-radius: 0.5em;
    
    align-items: center;
	text-align: center;
    position: relative;
	width: 95vw;
	margin: auto;
    color: white;
	box-shadow: 0 0px 6vh 0 #e0a930;
    margin-bottom: -10vh;
    
}

.calculator {
	box-shadow: 0 0px 5vh 0 rgba(255, 255, 255, 0.432);
    position: relative;
	background-color: #36363692;
	padding: 0vw;
	border-radius: 0.5em;
	text-align: center;
	width: 100%;
    height: 45vh;
	
    
}

.calculator h2{
	margin-top: 2vh;
}

h2 {
	margin-top: 0;
}



input[type=text] {
    width: 28vw;
	height: 18vh;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	box-shadow: 0px 0px 5px #ddd;
}

.button-1,.button-2,.button-3,.button-4,.button-5,.button-6,.button-7,.button-8,.button-9,.button-0,.button-minus,.button-star,.button-equal,.button-dot, .button-plus, .button-division, .clear-button{
    padding: 2vw;
	margin: 1.0vh;
	border-radius: 5px;
	border-style: none;
	background-color: #e0a930; /* green #4CAF50*/
	color: #fff;
	font-weight: bold;
	cursor: pointer;
    /*border-style: solid;*/
    transition: ease-in 0.2s;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
}


.button-minus:hover,.button-star:hover,.button-equal:hover,.button-dot:hover, .button-plus:hover, .button-division:hover{
  	transform: 100vw 0px 0px 0px;
	background-color: #a77e26ea;
	box-shadow: inset 0 2vh 1vw 0 rgba(255, 255, 255, 0.26);

}

.button-1,.button-2,.button-3,.button-4,.button-5,.button-6,.button-7,.button-8,.button-9,.button-0{
	transform: 100px 0px 0px 0px;
	background-color: #b3b0b0;
	box-shadow: inset 0 2vh 1vw 0 rgba(255, 255, 255, 0.26);
    padding: 1.9vw;
}

.button-1:hover,.button-2:hover,.button-3:hover,.button-4:hover,.button-5:hover,.button-6:hover,.button-7:hover,.button-8:hover,.button-9:hover,.button-0:hover{
	transform: 100px 0px 0px 0px;
	background-color: #707070;
	box-shadow: inset 0 1vh 1vw 0 rgba(255, 255, 255, 0.26);
    padding: 1.88vw;
}

table{
    margin-top: 10vh;
    margin-left: 39vw;

}

#result {
	font-weight: bold;
}

select{
    cursor: pointer;
    width: 17vw;
    height: 3.5vh;
    background-color: black;
    color: white;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-right: 70px;
	margin-left: -150px;
	border-style: none;
}

#operation{
	background-color: white;
	color: black;
}

select#operation option:defined{
	cursor: pointer;
	background-color: #e0a930;
	cursor: pointer;
}

.calculate-button{
    padding: 1vw;
	margin: 0.7vh;
	border-radius: 5px;
	border: none;
	background-color: #e0a930;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	box-shadow: inset 0 0 0 0;
	transition:  ease-in 0.4s;
}

.calculate-button:hover{
 background-color: #a77e26ea;
 transform: 100px 0 0 0;
 box-shadow: inset  #a77e26ea 10vw 0 0 0;
}

.selected-disabled{
	color: rgba(94, 94, 94, 0.562);
	font-weight: bolder;
	border: 1px black;
}



.inputfield{
	font-size: 25px;
}

