body{
    background-color: black;
}

.cal-form{
    background-color: #363636ce;
	padding-left: 1vw;
    padding-bottom: 0.5vw;
	border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
	text-align: center;
	width: 22vw;
    height: 20vh;
	margin: auto;
}

.calculator {
	background-color: #363636ec;
	padding: 15px;
	border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
	text-align: center;
	width: 22vw;
    height: 18vh;
	margin: auto;
}

h2 {
	margin-top: 0;
}

input[type=text] {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	box-shadow: 0px 0px 5px #ddd;
}

button {
	padding: 2vw;
	margin: 0.7vh;
	border-radius: 5px;
	border: none;
	background-color: #4CAF50;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

table{
    margin-top: 2vh;
margin-left: 39vw;

}

#result {
	margin-top: 20px;
	font-weight: bold;
}

select{
    cursor: pointer;
    width: 10vw;
    height: 3.5vh;
    background-color: black;
    color: white;
    border-radius: 8px;
}