body{
    background-color: black;
}

title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
.cal-form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4d4d4da2;
		display: flex;
		border-radius: 0.5em;
    
    align-items: center;
		text-align: center;
    position: relative;
		width: 35vw;
    height: 35.5vh;
		margin: auto;
    color: white;
		box-shadow: 0 0px 25px 0 rgba(64, 200, 49, 0.596);
    
    
}

.calculator {
	box-shadow: 0 0px 50px 0 rgba(255, 255, 255, 0.432);
    position: relative;
		background-color: #36363692;
		padding: 15px;
		border-radius: 0.5em;
  
		text-align: center;
		width: 100%;
    height: 35vh;
	
    
}

h2 {
	margin-top: 0;
}



input[type=text] {
    width: 18vw;
	height: 18vh;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	box-shadow: 0px 0px 5px #ddd;
	
}

.button-1,.button-2,.button-3,.button-4,.button-5,.button-6,.button-7,.button-8,.button-9,.button-0,.button-minus,.button-star,.button-equal,.button-dot, .button-plus, .button-division, .clear-button{
    padding: 2vw;
	margin: 1.7vh;
	border-radius: 5px;
	border-style: none;
	background-color: #4CAF50;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
    /*border-style: solid;*/
    transition: ease-in 0.2s;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
   
}


.button-1:hover,.button-2:hover,.button-3:hover,.button-4:hover,.button-5:hover,.button-6:hover,.button-7:hover,.button-8:hover,.button-9:hover,.button-0:hover,.button-minus:hover,.button-star:hover,.button-equal:hover,.button-dot:hover, .button-plus:hover, .button-division:hover{
   transform: 100px 0px 0px 0px;
	background-color: #707070;
	box-shadow: inset 0 1vh 1vw 0 rgba(255, 255, 255, 0.26);
    padding: 1.9vw;
}

table{
    margin-top: 10vh;
    margin-left: 39vw;

}

#result {
	margin-top: 20px;
	font-weight: bold;
}

select{
    cursor: pointer;
    width: 10vw;
    height: 3.5vh;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.calculate-button{
    padding: 1vw;
	margin: 0.7vh;
	border-radius: 5px;
	border: none;
	background-color: #4CAF50;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.selected-disabled{
	color: rgba(94, 94, 94, 0.562);
	font-weight: bolder;
	border: 1px black;
}

#operation{
	background-color: white;
	color: black;
}

.inputfield{
	font-size: 25px;
}